@{
    ViewData["Title"] = "Home Page";

    var date = ViewBag.Date;
    var student = ViewBag.Student;
    var list = ViewBag.List;
}

<style>
    div
    {
        margin-bottom: 10px;
    }
</style>

<div>
    現在時間: @date.ToString("yyyy/MM/dd HH:mm:ss") 
</div>

<div>
    學生成績: @student.ToString()
</div>

<div>
    學生成績列表:
</div>
@for (int i = 0; i < list.Count; i++)
{
    <div>
        @list[i].ToString()
    </div>
}